
.banner .wrapper {
   position: relative;
}

.btnAbout {
   background: white;
   color: black;
   transition: .4s all ease;
   &:hover {
      background:lightgrey;
   }
}

.banner {
   margin-bottom: 100px;
   color: white;

   h4 {
      font-family: "montserrat";
      font-weight: 700;
   }

   .bannerTitle {
      position: absolute;
      top: 35%;
      z-index: 1;
      background: lightgray;
      padding: 40px;
   }

   .bannerContainer .wrapper {
      @extend .flex;
      justify-content: flex-end;
   }
}

.bannerContainer {
   background: url(./../../assets/hello.jpg) fixed center no-repeat;
   background-size: cover; 
   background-attachment: fixed;
}

.bannerContainerLeft {
   height: 60%;
   width: 40%;
   border: 5px solid white;
   padding: 20px;
   @extend .flex;
   align-items: flex-end;
   position: absolute;
   left: 25%;
   top: 50%;
   transform: translateY(-50%);
}

.bannerContainerRight {
   position: absolute;
}

@media (max-width: 940px) {
   .banner .bannerTitle {
      padding: 30px;
      h2 {
         font-size: 1.6rem;
      }

      h1 {
         font-size: 3.5rem;
      }
   }

   .bannerContainerLeft {
      top: 60%;
   }
}

@media (max-width: 650px) {
   .banner .bannerTitle {
      padding: 20px;

      h2 {
         font-size: 1.2rem;
      }

      h1 {
         font-size: 2.8rem;
      }
   }
}

@media (max-width: 450px) {
   .bannerContainerLeft {
      left: 15%;
      width: 70%;
   }
   .banner .bannerTitle {
      padding: 10px;

   }
   
   .banner .bannerTitle h1 {
      font-size: 2rem;
   }
   .banner .bannerTitle h2 {
      font-size: 1rem;
   }
}

@media (max-width: 400px) {
   .banner .bannerTitle h1 {
      font-size: 1.4rem;
   }
   .banner .bannerTitle h2 {
      font-size: .8rem;
   }
}




